body, html {
	width: 100%;
	height: 100%;
    background: url(poza_background_about.jpg) no-repeat center center fixed; 
    background-size: cover;
}

.nav-bar {
	display: flex;
	background-color: green;
	align-items: baseline;
}

.nav-bar:hover {
	box-shadow:rgba(0,0,0,1) 0px 5px 15px, inset rgba(0,0,0,0.25) 0px -10px 20px;
}

.despre, .catre, .push{
	padding: 20px;
	background-color: yellow;
	border-radius: 80px;
	margin-bottom: 0;
	margin-top: 15px;
}

.despre:hover {
	box-shadow:rgba(0,0,0,1) 0px 5px 15px, inset rgba(0,0,0,0.25) 0px -10px 20px;
} 

.catre:hover {
	box-shadow:rgba(0,0,0,1) 0px 5px 15px, inset rgba(0,0,0,0.25) 0px -10px 20px;
} 

.push:hover {
	box-shadow:rgba(0,0,0,1) 0px 5px 15px, inset rgba(0,0,0,0.25) 0px -10px 20px;
} 

.titlu {
	background-color: green;
	justify-content: center;
	width: 100%
}
.catre {
	margin-left: 10px;
}

.main-nav {
	display: flex;
	list-style: none;
	color: #FCE840;
	align-items: baseline;
}

.push {
	margin-left: auto;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 3rem;
	color: #FCE840;
	font-family: 'Lobster', cursive;
}

.animate__animated.animate__bounceInDown {
  --animate-duration: 2s;
}



.btn {
	font-weight: 700;
	font-size: 20px;
	border-radius: 300px;
	border-color: green;
}

.btn:hover {
	background-color: #FCE840;
	border-color: #FCE840;
}

.btn-xl {
	padding: 2rem 3rem;
}